div{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	opacity: 0.7;
	text-align: center;
	font-size: 1.7rem;
	color: aliceblue;
}

.verticaal {
	margin: 30px 20px 0 0;
	transform:				skew( 0, -30deg );
		-ms-transform:		skew( 0, -30deg );
		-moz-transform:		skew( 0, -30deg );
		-o-transform:		skew( 0, -30deg );
		-webkit-transform:	skew( 0, -30deg );
}