#div1
{
	box-shadow: 4px 4px 10px; 
	width: 80%;
	height: 80px;
	font-size: 20px;
	margin: auto;
	margin-top: 3%;
	margin-bottom: 3%;
}

#div2
{
	box-shadow: 4px 4px 10px; 
	width: 80%;
	height: 220px;
	font-size: 15px;
	margin-left: 5%;
	margin-bottom: 3%;
}

#div3
{
	box-shadow: 4px 4px 10px; 
	width: 80%;
	height: 150px;
	margin-left: 3;
}

#div4
{
	box-shadow: 4px 4px 10px; 
	width: 80%;
	height: 100px;
	margin-left: 0%;
}

body
{
	background-color: lightgray;
}
